:root{
    --main: #402722;
    --sec: #8C8C8C;
    --acc: #262626;
    --bg: #f0f0f0;
    --dark-main: #402722;
    --dark-sec: #8C8C8C;
    --dark-acc: #262626;
    --dark-bg: #1d1d1d;
}


*{
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--bg) !important;
    /* background-color: var(--dark-bg) !important; */
}

.darkmode{
    background-color: var(--dark-bg) !important;
}

.c-darkModeBtn{
    border: none !important;
    background-color: transparent !important;
} */

h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0 !important;
    padding: 0 !important;
}

p{
    font-family: "Montserrat", sans-serif !important;
    font-size: 0.5rem !important;
    font-weight: 300 !important;
    color: var(--bg) !important;
}

/* TITLE SYSTEM */
h1{ font-family: "Montserrat", sans-serif !important;
    font-size: 4rem !important;
    font-weight: 400 !important;
    color: var(--bg) !important;

}

h2{ font-family: "Montserrat", sans-serif !important;
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    /* color: var(--acc) !important; */
    background: -webkit-linear-gradient(-180deg, #f4c384, #c3722c) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

h3{ font-family: "Montserrat", sans-serif !important;
    font-size: 1.8rem !important;
    font-weight: 400 !important;
    /* color: var(--acc) !important; */
    letter-spacing: 1px;
    line-height: 16px;

}

h4{ font-family: "Montserrat", sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: var(--acc) !important;
    padding: 14px 0 !important;
}
p{  font-family: "Inter", sans-serif;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
    color: #1f1f1f !important;
}




/* COLOR SYSTEM*/
.c-color-main{ color: var(--main) !important; }
.c-bg-color-main{ color: var(--main) !important; }
.c-color-sec{ color: var(--sec) !important; }
.c-bg-color-sec{ color: var(--sec) !important; }
.c-color-acc{ color: var(--acc) !important; }
.c-bg-color-acc{ color: var(--acc) !important; }
.c-color-bg{ color: var(--bg) !important; }
.c-bg-color-bg{ color: var(--bg) !important; }

.c-gradient{
        background: -webkit-linear-gradient(-180deg, #f4c384, #c3722c) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
}




/* ------------ START ---------- */

/* navbar */
.navbar-toggler{
    border: none;
    color: #f0f0f0;
}

.navScroll {
    transition: 0.1s;
    background-color: var(--acc);
}

/* header */
.img-header{
    height: 90vh;
    background: linear-gradient(180deg, rgb(27, 27, 27), 10%, transparent), url(./media/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-header-annunci{
    height: 90vh;
    background: linear-gradient(180deg, rgb(27, 27, 27), 10%, transparent), url(./media/divano\ interni.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* main */

.text-number{
    font-weight: 600 !important;
    color: #2d2d2d !important;
}

.c-rotate{
    transform: rotate(-90deg);
    /* position: absolute; */
    top: 60;
    left: 0;
}

.c-numeri{
    font-size: 4rem !important;
    font-weight: 800 !important;
    /* color: var(--acc) !important; */
    background: -webkit-linear-gradient(-45deg, #6f3f16, #f4c384, #c3722c) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.c-footer{
    background-color: #2b2b2b;
}

.c-copyright{
    font-size: 0.8rem !important;
    opacity: 0.5;
}

.c-font-footer{
    font-size: 0.8rem !important;

}

.c-linea-footer{
    border: solid 1px white;
    opacity: 0.3;
    margin: 16px 0;
}

.c-category{
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    font-style: italic !important;
    letter-spacing: 1px !important;
    margin-top: 4px !important;
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
    .img-header{
        height: 100vh;
    }

    h1{
        font-size: 3rem !important;
    }

    h3 {
        font-family: "Montserrat", sans-serif !important;
        font-size: 2rem !important;
        font-weight: 400 !important;
        color: var(--acc) !important;
        letter-spacing: 1px;
        line-height: 16px;
        /* padding: 40px 16px; */
    }

    h4{
        font-size: 2rem !important;
        padding: 36px 0 16px 0 !important;
    }
}
